<h1>Editing gi shopping</h1>

<%= render "form", gi_shopping: @gi_shopping %>

<br>

<div>
  <%= link_to "Show this gi shopping", @gi_shopping %> |
  <%= link_to "Back to gi shoppings", gi_shoppings_path %>
</div>
