<div class="px-3" style="max-height: 300px;" data-simplebar="init">
    <div class="simplebar-wrapper">
        <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;">
                    <div class="simplebar-content" style="padding: 0px 24px;">
                        <!-- item-->
                        <% unless notification_today.blank? %>
                            <h5 class="text-muted font-13 fw-normal mt-0">Today</h5>
                        <% end %>
                        <% notification_today.each do |notification_today|%>
                            <%= render 'wrapper/content-page/content/notification', notification: notification_today, type: "today"%>
                        <% end %>
                        <% unless notification_yesterday.blank? %>
                            <h5 class="text-muted font-13 fw-normal mt-0">Yesterday</h5>
                        <% end %>
                        <% notification_yesterday.each do |notification_yesterday|%>
                            <%= render 'wrapper/content-page/content/notification', notification: notification_yesterday, type: "yesterday" %>
                        <% end %>
                        <% unless notification_left.blank? %>
                            <% notification_left.each do |notification_left|%>
                                <h5 class="text-muted font-13 fw-normal mt-0"><%= show_notification_date(notification_left.id) %></h5>
                                <%= render 'wrapper/content-page/content/notification', notification: notification_left, type: "later" %>
                            <% end %>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
        <div class="simplebar-placeholder" style="width: auto; height: 513px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="height: 175px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
    </div>
</div>