/* line 1, app/assets/stylesheets/custom.scss */
.btn-custom {
  border-radius: 16px !important;
}

/* line 5, app/assets/stylesheets/custom.scss */
.card-body .img-detail-acc {
  width: 100% !important;
  margin: auto;
  padding: 0;
  content: " ";
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f0f0f0;
  border-radius: 6px;
}

/* line 17, app/assets/stylesheets/custom.scss */
.custom-card {
  /* Add any other styling for the card here */
  /* ... */
  position: relative;
  /* Ensure relative positioning for the children elements */
}

/* line 23, app/assets/stylesheets/custom.scss */
.nav-box {
  overflow: hidden;
}

/* line 27, app/assets/stylesheets/custom.scss */
.show-more {
  cursor: pointer;
}
