<div class="card-header pt-4 pb-4 text-center bg-primary">
    <div>
        <span><%= image_tag("Lotus.png", :alt => "logo", height: "40") %></span>
        <span class="logo_header">GI-MANAGER</span>
    </div>
</div>