<%= form_for :gi_account_file, url: import_list_acc_path, remote: true do |f| %>
      <table class="table table-sm w-100 font-16">
        <tbody>
          <tr>
            <td class="border-0" style="width: 10%">Nhập list acc tại đây</td>
            <td class="border-0 text-dark" style="width: 80%"><%= f.file_field :file %></td>
          </tr>
        </tbody>
      </table>
      
      <div class="form-group text-center bg_step_next py-1">
        <%= f.submit  "Đẩy lên", class:'btn btn-primary', id:"btn_submit_import_list_acc" %>
      </div>
    <% end %>