<h1>Editing gi account</h1>

<%= render "form", gi_account: @gi_account %>

<br>

<div>
  <%= link_to "Show this gi account", @gi_account %> |
  <%= link_to "Back to gi accounts", gi_accounts_path %>
</div>
