<li class="side-nav-item">
	<%= link_to charaters_path, class:"side-nav-link" do%>
			<i class="uil-calender"></i>
			<span> Characters </span>
	<% end %>
</li>

<li class="side-nav-item">
	<%= link_to weapons_path, class:"side-nav-link" do%>
			<i class="uil-calender"></i>
			<span> Weapon </span>
	<% end %>
</li>

<li class="side-nav-item">
	<%= link_to gi_accounts_path, class:"side-nav-link" do%>
			<i class="uil-calender"></i>
			<span> User Account </span>
	<% end %>
</li>