<li class="side-nav-item">
	<a href="apps-calendar.html" class="side-nav-link">
			<i class="uil-calender"></i>
			<span> Dashboard </span>
	</a>
</li>

<li class="side-nav-item">
	<a href="apps-calendar.html" class="side-nav-link">
			<i class="uil-calender"></i>
			<span> Characters </span>
	</a>
</li>

<li class="side-nav-item">
	<a href="apps-calendar.html" class="side-nav-link">
			<i class="uil-calender"></i>
			<span> Weapon </span>
	</a>
</li>

<li class="side-nav-item">
	<a href="apps-calendar.html" class="side-nav-link">
			<i class="uil-calender"></i>
			<span> User Account </span>
	</a>
</li>