<div class="simplebar-wrapper" style="margin: 0px;">
    <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer">
        </div>
    </div>
    <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                <div class="simplebar-content" style="padding: 0px;">
                    <!--- Sidemenu -->
                    <ul class="side-nav">                        
                     <%= render 'wrapper/leftside-menu/leftside-menu-container/left_bar'%>
                    </ul>                   
                    <!-- End Sidebar -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="simplebar-placeholder" style="width: auto; height: 1518px;"></div>
</div>