<div id="loadMe" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="compose-header-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="loader"></div>
        <button class="btn btn-primary" type="button" disabled>

     <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  処理中...
</button>
<button type="button" id="close_loading" class="close" data-bs-dismiss="modal" style="display:none;">x</button>
      </div>
    </div>
  </div>
</div>