<div class="content-page">
    <div class="content">
        <%= render 'wrapper/content-page/content/navbar-custom'%>
        <%= render 'wrapper/content-page/content/container-fluid'%>
    </div>
</div>