/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jstree/default/style.min
 *= require jstree/default-dark/style.min
 *= require bootstrap-tokenfield 
 *= require_tree .
 *= require_self
 
 */
@import "bootstrap";

.btn-custom{
    border-radius: 16px !important;
}

.background-image-genshin{
    background: image-url('background_image.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.background-login-genshin{
    background: image-url('login_background.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.opaciti-card{
    opacity: 0.8;
}
.custom-card {
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.8) !important;
}

.opaciti-background-card{
    background-color: rgba(255,255,255,0.8) !important;
}

.content-page{
    padding: 0px !important;
}