<div class="rightbar-content h-100" data-simplebar="init">
    <%= render 'end-bar/rightbar-content/simplebar-wrapper'%>
    <%= render 'end-bar/rightbar-content/simplebar-horizontal'%>   
    <%= render 'end-bar/rightbar-content/simplebar-vertical'%>
</div>